<div *ngIf="mural">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">{{ mural.title.nl }}</h1>
      <h3 class="text-muted">{{ mural.year }} </h3>
      <h6>{{ mural.address }}</h6>
      <p class="lead">{{ mural.description.nl }}</p>
      <ul class="list-unstyled">
        <li>Fotograaf: {{ mural.photographer }}</li>
        <li>Materiaal: {{ mural.material.nl }}</li>
        <li>Categorie: {{ mural.category.nl }}</li>
      </ul>
    </div>
  </section>
  <div class="murals text-muted">
    <div class="container">
      <div class="row">
        <div class="card" *ngFor="let Image of mural.images">
          <img alt="Image of {{ mural.title.nl }}" src="https://api.blindwalls.gallery/{{Image.file}}">
        </div>
      </div>
    </div>

    <div class="container">
      <h1 class="display-6 text-center">Locatie op de map</h1>
      <agm-map [latitude]="mural.latitude" [longitude]="mural.longitude" [zoom]="15">
        <agm-marker [latitude]="mural.latitude" [longitude]="mural.longitude"></agm-marker>
      </agm-map>
    </div>
  </div>
</div>
