<div class="row align-items-center">
  <div class="container">
    <div class="error-404">
      <div class="display-1 error-code m-b-10 m-t-20">404</div>
      <h2 class="font-bold">Oeps, Die pagina kan niet worden gevonden!</h2>

      <div class="error-desc">
        Sorry, maar de pagina die u probeert te bezoeken kon niet worden gevonden.
        <div class="back-button">
          <a href="/" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span>Terug naar home</a>
        </div>
      </div>
    </div>
  </div>
</div>
